.page-container
  .main-column.reset-password
    h1  Réinitialisez votre mot de passe
    form(ng-submit="sendResetPassword()")
      field(type="password" value="request.password"
      field="password"
      label="Mot de passe"
      placeholder="Nouveau mot de passe"
      required="true")
      field(type="password" value="request.passwordConfirm"
      field="passwordConfirm"
      label="Confirmation"
      placeholder="Nouveau mot de passe"
      required="true")
      button.button.button--meaty.fond-village.hover(type="submit") Envoyer